body.custom-wizard {
  input {
    display: inline-block;
    padding: 0.55em 0.75em;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.4;
    color: var(--primary);
    background-color: var(--secondary);
    border: 1px solid var(--primary-low-mid);
    border-radius: 0.4em;
    box-sizing: border-box;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;

    &:focus {
      border-color: var(--tertiary);
      outline: 0;
    }
  }

  textarea {
    height: auto;
    padding: 0.55em 0.75em;
    background-color: var(--secondary);
    border: 1px solid var(--primary-low-mid);
    border-radius: 0.4em;
    min-height: 150px;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;

    &:focus {
      border-color: var(--tertiary);
      box-shadow: shadow("focus");
      outline: 0;
    }
  }

  input,
  select,
  textarea {
    color: var(--primary);
    caret-color: currentcolor;

    &[class*="span"] {
      float: none;
      margin-left: 0;
    }

    &[disabled],
    &[readonly] {
      cursor: not-allowed;
      background-color: var(--primary-low);
      border-color: var(--primary-low);
    }

    &:focus:required:invalid {
      color: var(--danger);
      border-color: var(--danger);
    }

    &:focus:required:invalid:focus {
      border-color: var(--danger);
      box-shadow: shadow("focus-danger");
    }

    &[type="checkbox"] {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  .body-length {
    text-align: right;
  }
}
